body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

span{
    font-weight: normal;
}

.header{
    background-color: blue;
    margin: 5px;
    padding: 10px;
}

.hero{
    background-color: red;
    margin: 5px;
    padding: 10px;
}

.content{
    background-color: green;
    margin: 5px;
    padding: 10px;
}

.sidebar{
    background-color: purple;
    margin: 5px;
    padding: 10px;
}

.footer{
    background-color: grey;
    margin: 5px;
    padding: 10px;
}
@media screen and (min-width: 768px){
    .container{
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px){
    .container{
        display: flex;
        max-width: 1024px;
        margin: auto;
    }
}